@import "../../index.scss";
.nav-links {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 162.523%;
  .nav-link{
    cursor: pointer;
  }
}
.contact-now-btn {
  border: 2px solid $colorWhite;
  background-color: $colorBlack;
  cursor: pointer;
  color: $colorWhite;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: .5rem 1.6rem;
}
